<html>
	<body>
		<form action="/produtos" method="post">
			<div>
				<label for="titulo">Título</label>
				<input type="text" id="titulo" name="titulo" placeholder="coloque o título aqui" />
			</div>
			<div>
				<label for="preco">Preço</label>
				<input type="text" id="preco" name="preco" placeholder="250.00" />
			</div>
			<div>
				<label for="descricao">Descrição</label>
				<textarea id="descricao" cols="20" rows="10" name="descricao" placeholder="fale sobre o livro"></textarea>
			</div>
			<input type="submit" value="Gravar" />
		</form>
	</body>
</html>
